<%= render 'header' %>

<div class="container">
<div class="row">
  <div class="col-xs-6">
<h1>New post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>

<div class="col-xs-6"><h1><quote>"Man cannot discover new oceans unless he has the courage to lose sight of the shore."</quote></h1></div>


  </div>
</div>
